# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\UNIVERSITY\MASODEV\ELSO FELEV\Fejlett programozasi technikak\Gyakorlatok\LAB1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
